# Avances_0214

Para mostrar como las soluciones hacen el nuevo entrecruzamiento.

In [1]:
from model import Sol, SolCollection, read_stations
import model as m
import numpy as np
import pandas as pd
import utilities as util
import random
random.seed(123347)

In [2]:
# Read file and stations
fp = '~/Dropbox/PI/PI2/data/n20q10A.dat'
file_stations = util.read_file(fp)
stations = read_stations(file_stations) # list of stations
Sol.set_stations(stations)

       x    y  dem
sta
1      0    0   -7
2    220 -461   -3
3    -62 -261   -3
4    298  356    0
5   -214 -134   10
6    113  -49    6
7   -399  354    3
8   -218 -357   -5
9    422   38    0
10  -214  446    0
11   181  498    9
12   392  477    4
13   407  156   -3
14  -176  -42   -6
15  -259  382    4
16  -221  226   -7
17    91  -53   -3
18    88  341    4
19  -262  408   -7
20   118  112    4

## Check Reproduction

In [3]:
sol1 = Sol.random_sol()
sol2 = Sol.random_sol()
print(sol1)
print(sol2)
#f' Demands (in order) = {[stations[i].dem for i in sol2.route]}'

route: [0, 1, 10, 8, 13, 11, 6, 14, 15, 5, 4, 17, 9, 18, 7, 16, 2, 19, 12, 3],            end route at_ 3
route: [13, 0, 4, 16, 11, 2, 14, 15, 5, 10, 17, 6, 18, 9, 1, 12, 19, 3, 7, 8],            end route at_ 8

In [4]:
help(sol1.reproduce)

Help on method reproduce in module model:

reproduce(other, option=1, interactive=False) method of model.Sol instance
    Input:
        self: Object type sol
        other: Object type sol
        option (int):
            1 -> new_sol is the first son of self and other done
            by method described in page 7 in
            simple and efective evolutionary algorithm for the vehicle
            routing problem by Christian Prins (2004).
            2 -> Solution is getting the subroute i, j of the second route son
                 and trying to accomodate it in the first route so it
                 is TSP cost optimal
    Output:
        new_sol: Object type sol

In [5]:
sol1.reproduce(sol2, interactive=True, option=1)

Cut points are (3, 17)
End route has chosen to be 20
---------Solution object---------
                route: [ 1 12 19  8 13 11  6 14 15  5  4 17  9 18  7 16  2  3  0 10]
                Ends at node #: 20
                The constructive sol is: [  3   3  -4   0   6  -4  -3  -1   7  -6  -1   0   0   7   3   0   0   0
   0 -10]
                Tsp cost: 6166.597591410663
                Unbalance costs: 32

route: [ 1 12 19  8 13 11  6 14 15  5  4 17  9 18  7 16  2  3  0 10]

In [6]:
random.seed(123456789)
sol1.reproduce(sol2, interactive=True, option=2)

 Ahorro en -1 -> 0: -464.2628565801921
 Ahorro en 0 -> 1: -164.9234892391552
 Ahorro en 1 -> 2: -781.8054556082197
 Ahorro en 2 -> 3: -553.9425256262311
 Ahorro en 3 -> 4: 39.662088327571865
 Ahorro en 4 -> 5: -850.1361243398472
 Ahorro en 5 -> 6: -1438.2527260537986
 Ahorro en 6 -> 7: -1344.0545134389754
 Ahorro en 7 -> 8: -828.9724310533798
 Ahorro en 8 -> 9: -796.4926255615367
 Ahorro en 9 -> 10: -191.0607053609518
 Ahorro en 10 -> 11: -1012.9075333450413
 Ahorro en 11 -> 12: -1506.675636286231
 Ahorro en 12 -> 13: -1107.586315283008
 Ahorro en 13 -> 14: -475.1062562468172
 Ahorro en 14 -> 15: -884.0417010944914
 Ahorro en 15 -> 16: -345.72243201736273
Cut points are (14, 18)
End route has chosen to be 20
---------Solution object---------
                route: [0, 10, 8, 13, 1, 12, 19, 3, 11, 6, 14, 15, 5, 4, 17, 9, 18, 7, 16, 2]
                Ends at node #: 20
                The constructive sol is: [  7  -7   0   6   3   1  -4   0  -4  -2   0   7  -6  -1   0   0   7   3
   0 -10]
                Tsp cost: 6430.998765059876
                Unbalance costs: 40

route: [0, 10, 8, 13, 1, 12, 19, 3, 11, 6, 14, 15, 5, 4, 17, 9, 18, 7, 16, 2]

In [11]:
subi_j = route2[14:18]
subi_j

[1, 12, 19, 3]

In [10]:
route1 = sol1.route
route2 = sol2.route
print(route1)
print(route2)

[0, 1, 10, 8, 13, 11, 6, 14, 15, 5, 4, 17, 9, 18, 7, 16, 2, 19, 12, 3]
[13, 0, 4, 16, 11, 2, 14, 15, 5, 10, 17, 6, 18, 9, 1, 12, 19, 3, 7, 8]

In [9]:
other = [x for x in route1 if x not in subi_j]
other

[0, 8, 13, 4, 7, 3]